@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p class="descriere">With CLOUDSTORAGE, you can store your mini-documents for FREE</p>
                
            </div>

            <div class="col-md-7">
                <img id="europe" src="~/images/map_optimized.png"/>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="test">
                    <div class="hover-test">
                        <div class="cards">
                            <div class="centered">
                                <h4 class="title-sales">Free DNS</h4>
                                <p class="prices">Free Forever</p>
                                <ul class="no-centered">
                                    <li>4 DNS servers</li>
                                    <li>3 DNS zones</li>
                                    <li>3 Mail forwards</li>
                                    <li>Unlimited records</li>
                                    <li>Dynamic DNS</li>
                                    <li>Web redirects</li>
                                </ul>
                                <button class="button button2">Sign up for free</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hover-test">
                    <div class="cards">
                        <div class="centered">
                            <h4 class="title-sales">Premium DNS</h4>
                            <p class="prices">$2.00/month</p>
                            <ul class="no-centered float-left-a-little-bit">
                                <li>All free and extended features</li>
                                <li>+4 Anycast Premium Servers</li>
                                <li>More DNS zones and Mail forwards</li>
                                <li>1,000% Uptime SLA </li>
                                <li>Starting from $2.00/month</li>  
                            </ul>
                            <button class="button button2">Compare plans</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hover-test">
                    <div class="cards">
                        <div class="centered">
                            <h4 class="title-sales">Lux DNS</h4>
                            <p class="prices">$4.95/month</p>
                            <ul class="no-centered float-left-a-little-bit">
                                <li>All free and extended features</li>
                                <li>+4 Anycast Premium Servers</li>
                                <li>More DNS zones and Mail forwards</li>
                                <li>1,000% Uptime SLA </li>
                                <li>Starting from $4.95/month</li>
                            </ul>
                            <button class="button button2">Compare plans</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hover-test">
                    <div class="cards">
                        <div class="centered">
                            <h4 class="title-sales">Extra lux DNS</h4>
                            <p class="prices">$9.95/month</p>
                            <ul class="no-centered float-left-a-little-bit">
                                <li>4 Anycast DNS servers</li>
                                <li>Cost Effective. No overbilling.</li>
                                <li>Multiple Geolocation options</li>
                                <li>EDNS-client-subnet support </li>
                                <li>DDoS Protected</li>
                                <li>Starting from $9.95/month</li>
                            </ul>
                            <button class="button button2">Compare plans</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="bg-back">

        </div>
    </div>

    <script>
        //$("#hover.test").mouseenter(handlerIn).mouseleave(handlerOut);

        $(function () {
            $(".hover-test").hover(function () {
                $('button').css('background-color', '#c2efeb');
            });
        });
        
    </script>
</body>
</html>