@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p class="descriere">With CLOUDSTORAGE, you can store your mini-documents for FREE</p>
                
            </div>

            <div class="col-md-7">
                <img id="europe" src="~/images/map_optimized.png"/>
            </div>
        </div>
    </div>

    
</body>
</html>