@{
    ViewData["Title"] = "Insert";
}
<div class="form-design">
    <form action="/action_page.php">
        <label for="name">Name of document</label>
        <input type="text" id="fname" name="firstname" placeholder="Please enter name..">

        <label for="description">Description</label>
        <input type="text" id="lname" name="lastname" placeholder="Please enter some description..">
        <hr />
        <input type="file" name="pic" accept="all/*">
        <hr />
        <input type="submit" value="Submit">

    </form>
</div>
