/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ededed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.float-right {
    float: right !important;
}

.register-margin {
    padding-left: 561px;
}

#cloud-image {
    width: 47px;
    float: left !important;
    margin-right: 7px;
}

.color-navbar {
    background-color: #c2efeb;
}

.color-logo:hover {
    color: #03a8ff !important;
}

.color-logo {
    color:#1260fe!important;  
 }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.form-design {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 27px;
}

#europe {
    width: 665px;
    padding-top: 46px;
}

.descriere {
    font-family: 'Oswald', sans-serif;
    content: "";
    height: 6px;
    width: 369px;
    background-color: #cfcfcf;
    border-radius: 5px;
    position: absolute;
    bottom: -60px;
    font-size: 46px;
}

.centered{
    text-align: center;
    text-transform:uppercase;
}

.cards {
    background-color: #fff;
    border-radius: 10px;
    transition: box-shadow .5s;
    height: 400px;
}



/*????? DE-INTREBAT ????
????? DE-INTREBAT ????*/
.hover-test:hover > .cards {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.hover-test:hover > .button2 {
    background-color: #c2efeb !important;
    color: #1260fe !important;
}
/*????? DE-INTREBAT ????
????? DE-INTREBAT ????*/






.title-sales {
    padding-top: 23px;
    padding-bottom: 23px;
    margin: 0;
    font-weight: bold;
}

.prices {
    background-color: #c2efeb;
    margin: 0;
    padding: 20px 0 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
}

.no-centered {
    text-align: left;
    font-size: 14px;
    text-transform: none;
    padding-left: 87px;
    padding-top: 23px;
    padding-bottom: 23px;
    height: 202px;
}

.button {
    color: white;
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 23px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
}


.button2 {
    background-color: #fff;
    color: #008CBA;
    border: 2px solid #008CBA;
}

    .button2:hover {
        background-color: #c2efeb;
        color: #1260fe;
    }

ul li {
    margin-bottom: 6px;
}

.float-left-a-little-bit {
    padding-left: 46px;
}

.bg-back {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(http://formatiinuntacraiova.ro/wp-content/uploads/2018/02/27750036_874475922726077_2320932605780629457_n.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}